/* heights and widths */

.h-screen{
    height: 100vh;
}

.h-login{
    height: calc(100vh - 94px);
}

.h-home{
    height: calc(100vh - 154px);
}
.h-1{
    height: 10px;
}

.h-2{
    height: 20px;
}

.h-3{
    height: 30px;
}

.h-5{
    height: 50px;
}

.h-50{
    height: 50%;
}

.h-90{
    height: 90%;
}

.w-screen{
    width: 100vw;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.w-400{
    width: 400px;
}

/* flex */

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.items-center{
    align-items: center;
}

.gap-1{
    gap: 10px;
}

.gap-2{
    gap: 20px;
}

.gap-3{
    gap: 30px;
}

/* margins and paddings */

.m-0{
    margin: 0;
}

.m-1{
    margin: 10px;
}

.m-2{
    margin: 20px;
}

.mt-2{
    margin-top: 20px;
}

.m-3{
    margin: 30px;
}
.m-4{
    margin: 40px;
}
.m-5{
    margin: 50px;
}

.p-0{
    padding: 0;
}

.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 30px;
}


.rounded{
    border-radius: 10px 10px 10px 10px;
}


/* font */

.f-30{
    font-size: 30px;
}

.f-20{
    font-size: 20px;
}

.f-16{
    font-size: 16px;
}

.f-100{
    font-size: 100px;
}

.f-50{
    font-size: 50px;
}

.f-70{
    font-size: 70px;
}