.text-2xl{
    font-size: 25px !important;
}

.text-xl{
    font-size: 20px !important;
}

.text-lg{
    font-size: 18px !important;
}

.text-md{
    font-size: 16px !important;
}

.text-sm{
    font-size: 14px !important;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

input, select, textarea {
    border: 1px solid rgb(86, 86, 86);
    padding: 8px 10px;
    width: 100%;
}
  
input:focus, select:focus, textarea:focus {
    border: 1px solid rgb(34, 34, 34);
    outline: none;
}

.primary-contained-btn{
    background-color: var(--third);
    color: white;
    padding: 8px 10px;
    text-transform: uppercase;
}

.primary-outlined-btn{
    background-color: white;
    color: var(--primary);
    padding: 8px 20px;
    text-transform: uppercase;
    border: 1px solid var(--primary);
}